@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bungee&family=Kumbh+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}


/*definindo onde vai ficar o menu*/
.menu {
  background-color: chartreuse;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  padding-right: 15px;
  list-style: none;
  display: inline-block;
}

.logo {
  font-size: 32px;
  padding-left: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 10px 35px;
  text-align: center;

}

.item {
  width: 300px;
  height: 350px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #242424;
  color: white;
  font-size: 1.2em;
}

.item-p {
  padding-top: 20px;
  font-size: 1em;
}

.titulo-cards {
  color: #FEC400;
  font-size: 1.5em;
}

.item-equip {
  color: white;
  background-color: #242424;
  flex-wrap: wrap;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.subtitulo {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 20px;
}

.icone {
  background-color: rgb(251, 255, 0);
  border-radius: 50%;
  padding: 5px
}

/*main*/
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 200px);
  gap: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.box1 {
  background-color: bisque;
  border: 1px solid black;
  border-radius: 20px;
  grid-area: 1 / 1 / -1 / 3;
  margin-left: 10px;
}

.box2 {
  background-color: red;
  border: 1px solid black;
  border-radius: 20px;
  grid-area: 1 / 3 / 4 / -1;
}

.box3 {
  background-color: green;
  border: 1px solid black;
  border-radius: 20px;
  grid-area: 4 / 3 / -1 / -1;
}

img {
  border-radius: 20px;
}